body{
    background-color: black
    ;
}
main{
    background-color: black;
}
/* header section */

.head-section{
    background-color: black;
    
    
}
.navigation-bar{
    padding-top: 5px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    
    
   
}
/* menu icon */
.material-symbols-outlined{
    color: white;
    cursor: pointer;
    width: 20px;
}
.logo{
    width: 36px;
    cursor: pointer;
}
.material-symbols-rounded{
    color: white;
    cursor: pointer;
    width: 20px;
}

/* line after header line */
.header-line{
    background-color: #8f918b;
    height: 7px;
}
/* slide section area */


.slide-image{
    width: 776px;
    height: auto;
}
.grandtext{
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.maindiv{
    
    display: flex;
    justify-content: space-around;

}
.btn-watch{
    font-weight: 400;
    color: white;
    background-color: black;
    border-color: aliceblue;
    border-width: 1px;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}
.btn-watch:hover{
    color:black;
    background-color:orange;
}
/* end of the first page */
/* newswire section starts here */

.newswire-heading{
    margin-left: 50px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
/* article section one starts here */


.article-one{
    display: flex;
    cursor: pointer;

}
.article-para{
    display: flex;
}
.article1{
    width: 330px;
    margin: .5rem;
}
.articledate{
    margin: 1rem;
}

.article2{
    width: 330px;
    height: 330px;
    object-fit: cover;
    margin: .5rem;
}
.article3{
    width: 330px;
    height:330px;
    object-fit: cover;
    margin: .5rem;
}

/* end of the section one  */
p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.articledate{
    color: grey;
    font-weight: 400;
}
h4, h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* section two starts here */
.article-two{
    display: flex;
    cursor: pointer;
}
.article4{
    width: 330px;
    height: 330px;
    object-fit: cover;
    margin: .5rem;
    
}
.arti4-border{
    border-color: yellow;
    border-width: 10px;
}
.article5{
    width: 330px;
    height: 330px;
    margin: .5rem;
}
.article6{
    width: 330px;
    height: 330px;
    margin: .5rem;

}
.view-more{
display: flex;
justify-content: center;
height: 40px;
border-radius: 25px;
align-items: center;
}
.view-more:hover{
    color: black;
    background-color: orange;
    margin-left: 30rem;
    margin-right: 30rem;
}
.viewmore{
    display: flex;
}
.view-pic{
    width: 230px;
    margin: 1rem;
}
.contacts{
    display: flex;
    float: left;
    height: 50px;
    
}
.contact{
    margin: 1rem;
    cursor: pointer;
}
.contact h3:hover{

    color: orange;
}
.careers{
    margin: 1rem;
    cursor: pointer;
}
.careers h3:hover{
    color: orange;
}
.subscribe{
    margin: 1rem;
    cursor: pointer;
}
.subscribe h3:hover{
    color: orange;
}
.language{
    display: flex;
    justify-content: end;
}
.company-details{
    display: flex;
    
}
p{
    font-weight: 100;
    
}
.comp{
    margin: 1rem;

}
.comp:hover{
    color: orange;
}